body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.navBar {
  font-size: large;
  display: block;
  flex-direction: row;
  margin-right: 15px;
  padding: 15px;
  background-color: #333;
}
.game-review {
  border: 1px solid black;
}
.photo {
  height: 100px;
  width: 100px;
}
